{% extends "base.html" %}
{% block extra_head %}
{% load static %}
<style>
    #timer {
        font-size: 2rem;
    }
    .timer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
    }
    .mains-div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-text {
        text-align: center;
    }
    .main-text h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .main-text p {
        font-size: 1.2rem;
    }
    .main-text .btn {
        margin-top: 1rem;
    }
    .card {
        min-height: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div class="mains-div">
    <div class="container">
        <div class="main-text text-center m-3">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1>Annotune</h1>
                <h4 id="timer" class="mb-2"></h4>
            </div>
            <div class="container m-3">
                <p>
                    Annotune, short for Annotation, Text Understanding and Navigation Engine, leverages advanced topic modeling techniques to enhance document annotation.
                    By quickly analyzing and grouping documents into clusters and keywords, Annotune provides a deeper understanding of the context, significantly
                    accelerating the annotation process.
                </p>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card h-200 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Enhanced Speed</h5>
                            <p class="card-text">Reduce the time spent on document review by quickly identifying key themes and topics.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Improved Accuracy</h5>
                            <p class="card-text">Precision in topic discovery helps ensure that annotations are contextually relevant.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">User-Friendly Interface</h5>
                            <p class="card-text">Easy-to-navigate interfaces make it simple for users of all skill levels to utilize Annotune's features.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Scalability</h5>
                            <p class="card-text">Capable of handling large volumes of data efficiently, making it ideal for both small projects and enterprise-scale operations.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Integration Capabilities</h5>
                            <p class="card-text">Easily integrates with existing document management systems to streamline workflows.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Integration Capabilities</h5>
                            <p class="card-text">Easily integrates with existing document management systems to streamline workflows.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <a href="{% url 'documents' user_id %}" class="btn btn-success btn-lg">LLM Aided</a>
                <a href="{% url 'manualList' user_id %}" class="btn btn-primary btn-lg">Manual</a>
                <!-- <a href="{% url 'manualList' user_id %}" class="btn btn-primary btn-lg">HumanInTheLead</a> -->
            </div>
            <div hidden id="pageName">Homepage</div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
