{% extends "base.html" %}
{% block content %}

<div class="container-lg my-5">
    <div class="row">
        <!-- Text and Explanation Section -->
        <div class="col my-3">
            <h3>Text</h3> 
            <h3 id="document_id">{{ document_id }}</h3>
            <div id="documentText" class="card m-2 p-3" style="min-height: 40vh;">
                {{ document }}
            </div>
            <div id="confidence">{{confidence}}</div>
        </div>
        
        <!-- Labels Section -->
        <div class="col my-3">
            <h5>LLM Suggested Labels</h5>
            <div class="button-container" id="suggestedLabels">
                <form method="post">
                    {% csrf_token %}
                    {% for label in labels %}
                    <button id="{{ label }}" type="button" class="btn btn-secondary btn-sm p-2 m-2 suggested-label-btn">{{ label }}</button>
                    {% endfor %}
                </form>
            </div>
            <br>

            <h5 class="mt-4">Manual Label</h5>
            <div class="mt-4">
                <form method="post">
                    {% csrf_token %}
                    <input id="manualLabelInput" class="p-2 m-2" style="width: 50%;" type="text" placeholder="Enter label">
                    <input id="manualLabelSubmit" class="btn btn-success m-2" style="width: 20%;" type="button" value="Submit">
                    <button type="submit" class="btn btn-danger btn-sm p-2 m-2">Skip</button>
                </form>
            </div>

            <br>

            <button id="toggleExplanationBtn" class="btn btn-primary btn-sm p-2 m-2">Show Explanation</button>
            <div id="explanationDiv" class="card m-2 p-3" style="display: none;">
                {{ explanation }}
            </div>
            <div id="user_id" hidden>{{ user_id }}</div>
        </div>
    </div>
</div>
{% endblock %}