{% extends "base.html" %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/label.css' %}">

{% endblock %}

{% block content %}

<div class="container-lg my-5">
    <div class="row">
        <!-- Navigation Icons -->
        <div class="col-12 d-flex justify-content-between mb-3">
            <a href="#" id="previousButton" class="btn btn-outline-secondary btn-lg nav-icon">
                <i class="fas fa-arrow-left"></i> Previous
            </a>
            <div>
                
                <a href="#" id="nextButton" class="btn btn-outline-secondary btn-lg nav-icon">
                    Next <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <!-- Text and Explanation Section -->
        <div class="col-md-6 my-3 text-section" style="min-height: 50vh;">
            <h3 class="section-title">Text</h3>
            <h5 id="document_id" class="document-id" >{{ document_id }}</h5>
            <div id="documentText" class="card document-card" style="height: 100%; overflow-y: scroll;">
                {{ document }}
            </div>
        </div>
        
        <!-- Labels Section -->
        <div class="col-md-6 my-3 labels-section d-flex flex-column" style="min-height:59vh;">
            <h5 class="section-title">Please choose one of the label suggestions or add your own label in the box below</h5>
            <br>
            <div id="suggestedLabels" class="button-container d-flex flex-wrap justify-content-center mb-4">
                <form method="post" class="w-100">
                    {% csrf_token %}
                    {% for label in labels %}
                    <button id="{{ label }}" type="button" class="btn btn-label suggested-label-btn m-1">{{ label }}</button>
                    {% endfor %}
                </form>
            </div>

            <!-- <h3 class="section-title mt-4">Selected Label</h3> -->
            <div class="mt-2" id="manualLabelDiv">
                <form method="post" class="d-flex align-items-center">
                    {% csrf_token %}
                    <input id="manualLabelInput" class="form-control label-input me-2" type="text" placeholder="Enter label">
                    <button id="manualLabelSubmit" class="btn btn-success submit-btn" type="button">Submit</button>
                </form>
            </div>

            <!-- <button id="toggleExplanationBtn" class="btn btn-secondary toggle-btn mt-4 mx-auto">Show Explanation</button>
            <div id="explanationDiv" class="card explanation-card mt-2" style="display: none;">
                {{ explanation }}
            </div> -->
            <div id="most_confident">{{most_confident}}</div>
            <div id="auto">{{auto}}</div>
            <div id="user_id" hidden>{{ user_id }}</div>
            <div id="confidence">{{ confidence }}</div>
        </div>
    </div>
</div>

{% load static %}

<script src="{% static 'javascript/label.js' %}"></script>


{% endblock %}
