{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row"> 
        <!-- File input and uploaded files section -->
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mb-3">Upload File</button>
            </form><!-- Button to upload selected files -->
            <h5 class="card-title">Uploaded Files</h5>
            <!-- Card for dynamically listed files with scrolling -->
            <div class="card card-scrollable" style="height: 50%" >
                
                <div class="card-body">
                    
                    <div class="row g-3">
                        <!-- Loop to display 10 files -->
                        {% for file in uploaded_files %}
                        <div class="col-md-6 col-lg-4" title="PDF File">
                            <div class="file-man-box">
                                <a href="" class="file-close"><i class="fa fa-times-circle"></i></a>
                                <div class="file-img-box">
                                    {% load static%}
                                    <img src=   "{% static 'images/microsoft-excel-icon.png' %}" alt="Excel Icon">
                                </div>
                                <a href="#" class="file-download"><i class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h6 class="mb-0 text-overflow">{{ file.file_name }}</h6>
                                    <small>{{ file.size }} bytes</small>
                                </div>
                            </div>
                        </div>
                        <!-- Additional file entries -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Table section and model training button -->
        <br>
        <div class="col-md-6">
            <button class="btn btn-success mb-3">Start Training Model</button> <!-- Button to start model training -->
            <h4 class="mb-3">Details Table</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}